*.gz filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
0.archived-analysis/output/subset_BR00106975_files_analysis/*.csv filter=lfs diff=lfs merge=lfs -text
0.archived-analysis/output/subset_BR00106975/analysis/subset/*.csv filter=lfs diff=lfs merge=lfs -text
